/*
This is an exaggeratedly abbreviated example a "CSS reset" stylesheet that removes some default browser styles.
*/

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
